.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 9, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-content {
    background: rgba(12, 11, 9, 0.6);
    ;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
    color: black
}

.image-wrapper {
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}


.order-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
      min-width: 140px;
}

.toast-btn {
    background: rgb(255 76 0/var(--tw-bg-opacity,1));
    color: #fff;
}

.snore-btn {
    background: #0474dc;
    color: red
}

.order-btn:hover {
    opacity: 0.85;
}

.modal-image-full {
    width: 100%;
    height: auto;
    display: block;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgba(12, 11, 9, 0.6);
}